{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<h1>Register</h1>

<br/><br/>
<div class="form-group">
    <form method = "POST">
            {% csrf_token %}
            {{ form.as_p }}
            
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">Register</button>
    </form>
</div>

<!-- <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% for field in registration_form %} -->
    <!-- <p>
        {{field.label_tag}}
        {{field}}

        {% if field.help_text %}
            <small style="color: grey;">{{field.help_text}}</small>
        {% endif%}

        {% for error in field.errors %}
            <p style = "color: red;">{{error}}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Register</button>
</form> --> 


{% endblock %}